/*
copy this file as rise.css adjacent to a lecture notebook to auto-include
*/

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* reset slideshow fonts to system default */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* make table styles more similar to pandas */
.reveal table th,
.reveal table td {
  border: none;
  padding: 0.5em;
}

.rise-enabled .reveal pre {
  margin: 0;
}

/*
RISE sets table font-size to 75%, but this makes pandas tutor tables super
small
*/
table.wstRoot {
  font-size: 18px !important;
}

.wstRoot td.rowLabel,
.wstRoot td.rowLabelLevelName,
.wstRoot .columnLabel,
.wstRoot .columnLabelLevelName {
  font-size: 20px !important;
}

/* using .ss in a cell lets us put items side by side */
.ss {
  display: flex;
  gap: 1rem;
}

.ss > div {
  flex-grow: 1;
}

.ss > div:last-child {
  max-width: 30%;
}
